body {
  background-color: #282c34 !important;
}

.experiment {
  min-height: 75vh;
}

.experiment-back-button {
  font-weight: bold;
  background-color: #282c34 !important;
  border-color: #282c34 !important;
}

.experiment-back-button img{
  height: 30px;
  width: 30px;
  transform: rotate(180deg);
}

.sketchHolder {
  text-align: center;
}

.contactme-home {
  max-width: 90%;
  margin: auto;
}

.jumbotron {
  background-color: #61afef !important;
  color: white;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  margin-top: 5%;
  padding-left: 0 !important;
}

.jumbotron ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.jumbotron li {
  float: left;
  margin-right: 1rem;
}

.project-deck .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .project-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .project-deck .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.projects-home {
  margin-bottom: 5%;
}

.projects-home a {
  color: #61afef;
}

.projects-home h1 {
  margin-bottom: 1rem;
}

.project-card {
  color: white !important;
  background-color: #282c34 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.skills-home {
  margin-bottom: 5%;
}

.progress-bar {
  background-color: #98c379 !important;
}

.col-sm {
  margin-bottom: 2rem;
}

.home {
  min-height: fit-content;
  margin-bottom: 5%;
}

.aboutme-para {
  /* top: 425px;
  float: left; */
  font-size: 20px;
  /* position: absolute; */
  z-index: 1;
  text-align: left;
  font-weight: bold;
  max-width: 500px;
  justify-content: center;
}

.home-title {
  /* top: 250px; */
  /* float: left; */
  font-size: 63px;
  /* position: absolute; */
  z-index: 1;
  text-align: left;
  font-weight: bold;
  /* max-width: 500px; */
  justify-content: center;
  white-space: pre-wrap !important;
}

.home img {
  height: 600px;
  width: 600px;
  /* float: right; */
  border-radius: 0px !important;
  box-shadow: -20px 20px #61afef;
}

.content {
  max-width: 90%;
  margin: auto;
  color: white;
}

.color-nav {
  max-width: 96%;
  background-color: #282c34 !important;
  padding-right: 0px !important;
}

.App {
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  white-space: pre-wrap !important;
}

.nav-link {
  margin: 0.5rem;
}

.blinking {
  animation: blinkingText 1.2s infinite;
}

.arrow-button {
  height: 35px;
  width: 35px;
  outline: none;
  margin-top: 1px;
}

/*Ipad Pro */

@media only screen and (max-width: 1180px) {
  .content {
    padding-top: 5%;
  }
  .home {
    zoom: 0.7;
    -moz-transform: scale(0.7);
  }
  /*
  .home-title {
    top: 300px;
  }
  .aboutme-para {
    top: 500px;
  }
  */
}

/* Ipad and lower */

@media only screen and (max-width: 850px) {
  .App-header h1 {
    font-size: 1.5rem !important;
  }
  .App-header input {
    height: 25px;
    width: 25px;
  }
  .arrow-button {
    margin-top: 2px;
  }
  .home {
    text-align: center;
  }
  .home img {
    width: 80%;
    height: 80%;
  }
  .home-title {
    text-align: center;
  }
  .aboutme-para {
    text-align: center;
  }
  .skills-home {
    margin-bottom: 15%;
  }
  .projects-home {
    margin-bottom: 15%;
  }
}

/* Mobile phones only */
@media only screen and (max-width: 767px) {
  .thing {
    height: 90vh;
  }
  .home {
    position: absolute;
    top: 17%;
  }
}

/* Social media icons */
/* Style all font awesome icons */
.fa {
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}